*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 40px 1fr 50px;
    grid-template-areas: 
        "zheader        zheader"
        "znav           zsection"
        "zfooter        zfooter";
}
header{
    grid-area: zheader;
    background-color: lightgreen;
}
nav {
    grid-area: znav;
    background-color: lightblue;
}
section{
    grid-area: zsection;
    background-color: lightgrey;
    padding: 50px;
}
footer{
    grid-area: zfooter;
    background-color: lightgoldenrodyellow;
}